{% extends "base.html" %}

{% block title %}
Page Not Found
{% endblock title %}

{% block content %}
	<div class="card text-center">
		<div class="card-body">
			<h1 class="card-title">404</h1>
			<p class="card-text">Sorry, the page you are looking for could not be found.</p>
			<div class="card card-btn col-sm-4 mx-auto mt-4" onclick="location.href='/'">
				<div class="card-body text-center">
					Go Home
				</div>
			</div>
		</div>
	</div>
{% endblock content %}