{% extends "base.html" %}

{% block title %}
Disabled
{% endblock title %}

{% block content %}
	<div class="card text-center">
		<div class="card-body">
			<h1 class="card-title">Disabled</h1>
			<p class="card-text">This feature is currently disabled, please try again later.</p>
			<div class="card card-btn col-sm-4 mx-auto mt-4" onclick="location.href='/'">
				<div class="card-body text-center">
					Go Home
				</div>
			</div>
		</div>
	</div>
{% endblock content %}