{% extends "base.html" %}

{% block title %}
QtRVSim Web Evaluation
{% endblock title %}

{% block content %}
	<h4>Tasks available for submission:</h4>

	<div class="list-group">
		{% for t in tasks %}
			<a href="/task/{{ t[0] }}" class="list-group-item list-group-item-action">{{ t[1] }}</a>
		{% endfor %}
	</div>

{% endblock content %}