{% extends "base.html" %}

{% block title %}
Login
{% endblock title %}

{% block content %}
	<div class="card">
		<div class="card-body">
			<form method="post" id="loginForm">
				<div class="form-group">
					<label for="username">Username:</label>
					<input type="text" id="username" name="username" class="form-control" required>
				</div>
				<div class="form-group">
					<label for="password">Password:</label>
					<input type="password" id="password" name="password" class="form-control" required>
				</div>
				<div class="row">
					<div class="col-sm-9">
						<div class="card card-btn mx-auto mt-4" onclick="document.getElementById('loginForm').submit();">
							<div class="card-body text-center">
								Login
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="card card-btn mx-auto mt-4" onclick="location.href='/reset';">
							<div class="card-body text-center">
								Forgot Password
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
{% endblock content %}