{% extends "base.html" %}

{% block title %}
Reset Password
{% endblock title %}

{% block content %}
<div class="card">
	<div class="card-body">
		<form method="post" id="resetForm">
			<div class="form-group">
				<label for="username">Username:</label>
				<input type="text" id="username" name="username" class="form-control" required>
			</div>
			<div class="form-group">
				<label for="email">Email:</label>
				<input type="email" id="email" name="email" class="form-control" required>
			</div>
			<div class="form-group">
				<label for="username">Password:</label>
				<input type="password" id="password" name="password" class="form-control" required>
			</div>
			<div class="form-group">
				<label for="verification">Verification Number:</label>
				<div id="verification" class="d-flex center">
					{% for i in range(4) %}
					<input type="text" id="verification{{i}}" name="verification{{i}}" class="form-control verification-input" maxlength="2" required>
					{% endfor %}
				</div>
			</div>
			<div class="card card-btn col-sm-4 mx-auto mt-4" onclick="document.getElementById('resetForm').submit();">
				<div class="card-body text-center">
					Reset password
				</div>
			</div>
		</form>
	</div>
</div>

<style>
.verification-input {
	width: 75px;
	height: 75px;
	text-align: center;
	font-size: 1.75em;
	line-height: 75px;
	margin-right: 5px;
}
#verification {
	justify-content: center;
}
</style>

<script>
	const inputs = Array.from(document.querySelectorAll('.verification-input'));

	function cleanInput(value) {
		return value.replace(/[^a-zA-Z0-9]/g, "").toUpperCase();
	}

	document.getElementById('verification').addEventListener('paste', (e) => {
		e.preventDefault();
		const pasteData = e.clipboardData.getData('text');
		let cleanedData = cleanInput(pasteData);

		inputs.forEach((input, index) => {
			const chunk = cleanedData.substring(index * 2, index * 2 + 2);
			if (chunk) {
				input.value = chunk;
			}
		});

		const nextIndex = Math.min(cleanedData.length / 2, inputs.length);
		if (nextIndex < inputs.length) {
			inputs[nextIndex].focus();
		}
	});

	inputs.forEach((input, index) => {
		input.addEventListener('input', (e) => {
			let value = input.value;
			value = cleanInput(value);
			input.value = value;

			if (value.length === 2 && index < inputs.length - 1) {
				inputs[index + 1].focus();
			}
		});

		input.addEventListener('keydown', (e) => {
			if (e.key === 'Backspace' && !input.value && index > 0) {
				inputs[index - 1].focus();
			}
		});
	});
</script>
{% endblock content %}