{% extends "base.html" %}

{% block title %}
Profile
{% endblock title %}

{% block content %}
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />

	<style>

		.form-select{
			margin: 15px 0px 15px 0px;
		}

		.card-btn{
			margin: 15px 0px 15px 0px;
		}

		.main-content{
			max-width: 5000px!important;
		}

		table{
			margin: 15px 0px 15px 0px;
		}

	</style>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

<div class="row">
	<div class="col-sm-12">
		<h3>{{ user.username }}'s profile</h3>
		<hr />

		<h5>Display name:</h5>

		<div class="col-md-6">
			<input type="text" id="set-display-input" class="form-control" placeholder="{{ user.display_name }}" aria-label="New display name">
		</div>

		<div class="card card-btn col-md-6" onclick="location.href='/profile/displayname/' + encodeURIComponent(document.getElementById('set-display-input').value.trim());">
			<div class="card-body text-center">
				Set display name
			</div>
		</div>

		{% if user.organization %}
			<h3>Organization:</h3>
			<p>{{ user.organization }}, {{ user.country }}</p>

			<small>If you wish to change your organization, please contact the administrator.</small>

			<h3>Study group:</h3>
			<p>{{ user.group }}</p>
		{% else %}
			<h3>Organization:</h3>
			<p>Warning, this can only be set once!</p>

			<select class="country-select" style="width: 200px;"> </select>
			<select class="university-select" style="width: 200px;" disabled> </select>

			<div class="card card-btn col-md-6" onclick="location.href='/profile/org/' + $('.country-select').select2('data')[0].id + '/' + encodeURIComponent($('.university-select').select2('data')[0].id.trim());">
				<div class="card-body text-center">
					Confirm setup
				</div>
			</div>

			<script>
				$(document).ready(function() {
					var data = {};
			
					$.getJSON('{{ url_for('static', filename='organizations.json') }}', function(json) {
						data = json;
			
						var countries = [...new Set(data.map(item => item.country))].sort();
			
						$('.country-select').select2({
							data: countries.map(function(country) {
								return {id: country, text: country};
							})
						});
					});
			
					$('.country-select').on('change', function() {
						var selectedCountry = $(this).val();
			
						var universities = data.filter(function(university) {
							return university.country === selectedCountry;
						}).sort(function(a, b) {
							return a.name.localeCompare(b.name);
						});
			
						$('.university-select').prop('disabled', false).empty().select2({
							data: universities.map(function(university) {
								return {id: university.name, text: university.name};
							})
						});
					});
				});
			</script>
		{% endif %}

		<div class="col-md-6">
			<h3>Change privacy settings:</h3>
			<select id="privacy-selector" class="form-select" aria-label="Privacy selector">
				<option value="0" {% if user.visibility == 0 %} selected {% endif %}>Public (everyone is able to see your results)</option>
				<option value="1" {% if user.visibility == 1 %} selected {% endif %}>Organization (only people in the same organization)</option>
				<option value="2" {% if user.visibility == 2 %} selected {% endif %}>Study group (only people in the same study group)</option>
				<option value="3" {% if user.visibility == 3 %} selected {% endif %}>Private (no one is able to see your results)</option>
			</select>
			<div class="card card-btn" onclick="location.href='/profile/privacy/' + document.getElementById('privacy-selector').value;">
				<div class="card-body text-center">
					Set privacy
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock content %}