{% extends "base.html" %}

{% block title %}
Register
{% endblock title %}

{% block content %}
	<div class="card">
		<div class="card-body">
			<form method="post" id="registerForm">
				<div class="form-group">
					<label for="username">Username:</label>
					<input type="text" id="username" name="username" class="form-control" required>
				</div>
				<div class="form-group">
					<label for="password">Password:</label>
					<input type="password" id="password" name="password" class="form-control" required>
				</div>
				<div class="form-group">
					<label for="email">Email:</label>
					<input type="email" id="email" name="email" class="form-control" required>
				</div>
				<div class="form-group text-muted" style="font-size: 0.8em;">
					Your email address is not being saved. It is only used for registration confirmation and password reset (it is stored as a salted sha-512 hash, so are the passwords).
				</div>
				<div class="card card-btn col-sm-4 mx-auto mt-4" onclick="validateForm();">
					<div class="card-body text-center">
						Register
					</div>
				</div>
			</form>
		</div>
	</div>

	<script>
		function validateForm() {
			var form = document.getElementById('registerForm');
			var username = form.elements['username'].value;
			var password = form.elements['password'].value;
			var email = form.elements['email'].value;
		
			if (username === '' || password === '' || email === '') {
				alert('Please fill out all fields.');
				return false;
			}
		
			form.submit();
			return true;
		}
		</script>
{% endblock content %}