{% extends "base.html" %}

{% block title %}
Reset Password
{% endblock title %}

{% block content %}
	<div class="card">
		<div class="card-body">
			<form method="post" id="resetForm">
				<div class="form-group">
					<label for="username">Username:</label>
					<input type="text" id="username" name="username" class="form-control" required>
				</div>
				<div class="form-group">
					<label for="email">Email:</label>
					<input type="email" id="email" name="email" class="form-control" required>
				</div>
				<div class="card card-btn col-sm-4 mx-auto mt-4" onclick="document.getElementById('resetForm').submit();">
					<div class="card-body text-center">
						Reset password
					</div>
				</div>
			</form>
		</div>
	</div>
{% endblock content %}