{% extends "base.html" %}

{% block title %}
Scoreboard
{% endblock title %}

{% block content %}
	<style>
		.card-btn{
			margin-bottom: 15px;
		}

		a{
			text-decoration: none;
		}
	</style>

	{% if user is not none %}

		{% if user.organization is not none %}
			<a href="/scoreboard/grouporg/1/{{ user.organization }}">
				<div class="alert alert-info" role="alert">
					<h4>Scoreboard of your organization.</h4>
				</div>
			</a>
		{% endif %}

		{% if user.group is not none %}
			<a href="/scoreboard/grouporg/0/{{ user.group }}">
				<div class="alert alert-info" role="alert">
					<h4>Scoreboard of your study group.</h4>
				</div>
			</a>
		{% endif %}

	{% endif %}

	<div class="row justify-content-center">
		<div class="col-md-8 text-center">
			{% if grouporg is not none %}
				<h2>Scoreboard of {{ grouporg }}</h2>
			{% else %}
				<h2>Scoreboard</h2>
			{% endif %}
			
			{% for task, submissions in submissions.items() %}
				<h3>{{ task }}</h3>
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">Username</th>
							<th scope="col">Cycles</th>
							<th scope="col">Score</th>
						</tr>
					</thead>
					<tbody>
						{% for submission in submissions %}
							<tr>
								<td {% if submission[2] == session['user_id'] %} style="background: rgba(100, 203, 153, 0.6);" {% endif %}>
									{% if submission[0] is not none and submission[0] in displaynames and displaynames[submission[0]] is not none %}
										{{displaynames[submission[0]]}}({{ submission[0] }})
									{% else %}
										{{ submission[0] }}
									{% endif %}
								</td>
								<td {% if submission[2] == session['user_id'] %} style="background: rgba(100, 203, 153, 0.6);" {% endif %}>{{ submission[1] }}</td>
								<td {% if submission[2] == session['user_id'] %} style="background: rgba(100, 203, 153, 0.6);" {% endif %}>{{ submission[3] }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				<hr />
			{% endfor %}
		</div>

		<div class="col-md-4 text-center">
			<h2>Users total points</h2>
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">Username</th>
						<th scope="col">Points</th>
					</tr>
				</thead>
				<tbody>
					{% for username, points in total_score %}
						<tr>
							<td {% if user_ids[username] == session['user_id'] %} style="background: rgba(100, 203, 153, 0.6);" {% endif %}>
								{% if username is not none and username in displaynames and displaynames[username] is not none %}
									{{displaynames[username]}}({{ username }})
								{% else %}
									{{ username }}
								{% endif %}
							</td>
							<td {% if user_ids[username] == session['user_id'] %} style="background: rgba(100, 203, 153, 0.6);" {% endif %}>{{ points }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

{% endblock content %}