{% extends "codemirror.html" %}

{% block title %}
	{{ task_name }}
{% endblock title %}

{% block content %}
<style>
	.card-btn:hover {
		background-color: #f8f9fa;
	}

	.card-btn{
		margin-bottom: 10px;
	}

	.cm-argument { color: #708090; font-style: italic; }
	.cm-failed { color: #DC143C; }
	.cm-passed { color: #228B22; }
	.cm-time-string { color: #4682B4; }
	.cm-register-memory { color: #217a7a }
	.cm-expected-number-value { color: #2E8B57; }
	.cm-provided-number-value { color: #DC143C; }
	.cm-error-value { color: #B22222; }

</style>
<div class="container-fluid">
	<div class="row">
		<!-- Main Content Column -->
		<div class="col-md-4">
			<!-- Preformatted markdown for task description -->
			{{ task.description | safe }}

			{% if makefile %}
				<details>
					<summary>Makefile (click)</summary>
					<pre><code>
						{{ makefile }}
					</code></pre>
				</details>
			{% endif %}

			{% if files %}
				<h6>Additional files present at compile time:</h6>
			
				{% for file in files %}
					<details>
						<summary>{{ file["name"] }} (click)</summary>
						<pre><code>
							{{ file["code"] }}
						</code></pre>
					</details>
				{% endfor %}
			{% endif %}

			<!-- Loop for task inputs -->
			{% if task.inputs %}

				{% for i in task.inputs %}
				<h6>Input: {{ i.description }}</h6>
				<div>
					<span>In:</span>  <code>{{ i.data_in }}</code> <br />
				</div>
				<div>
					<span>Out:</span> <code>{{ i.data_out }}</code> <br />
				</div>
				{% endfor %}
			
			{% endif %}
			<br />

			<!-- Display task arguments -->
			Your program will be run with the following arguments:
			<code>
				{{ task.arguments }}
			</code>

			<br />

			Your program will be scored by this following metric:
			<code>
				{{ task.scoring }}
			</code>
			
			<br /><br />

			For interactive solution, you can use <a href="https://github.com/cvut/qtrvsim">QtRvSim</a>. The web version of the simulator is located <a href="https://comparch.edu.cvut.cz/qtrvsim/app/" target="_blank">here</a>.
			<hr />

			{% if 'logged_in' in sessions %}
				<div class="card card-btn">
					<a href="/submit/{{ task.id }}" class="card-body text-center text-decoration-none">
						Submit a solution
					</a>
				</div>

				{% if task.deadlines %}
	
					This task is available for submission <br /> from <code>{{ task.deadlines.start }}</code> to <code>{{ task.deadlines.end }}</code>.
	
				{% endif %}

			{% endif %}
		</div>
			<!-- Submission section for logged-in users -->
		<div class="col-md-4">
			{% if 'logged_in' in sessions %}
				{% if submission_found %}
					<h5>Your latest submission:</h5>
					<div>
						<div>
							Submission result:
							{% if result == -1 %}
								<span style="color: rgb(239, 198, 15);">
									Pending

									<!-- Auto refresh the page when the score is pending. -->
									<script>
										function autoRefresh() {
											window.location = window.location.href;
										}

										setInterval('autoRefresh()', 5000);
									</script>

									<!-- temporary solution -->
									 
								</span>
							{% elif result == 0 %}
								<span style="color: green;">Accepted</span>
							{% elif result == 2 %}
								<span style="color: red;">Timeout</span>
							{% elif result == 3 %}
								<span style="color: red;">Cache error</span>
							{% elif result == 4 %}
								<span style="color: red;">Make error</span>
							{% elif result == 5 %}
								<span style="color: red;">Assembly error</span>
							{% elif result == 99 %}
								<span style="color: maroon;">Internal evaluator error</span>
							{% elif result == 100 %}
								<span style="color: maroon;">Score reset by admin</span>
							{% else %}
								<span style="color: red;">Rejected</span>
							{% endif %}
						</div>
						<div>
							Time submitted:
							{{ time }}
						</div>

						{% if result == 0 %}
							<div>
								Score:
								<code>{{ score }}</code>
							</div>
						{% endif %}

						{% if issue_url %}
							<div>
								<b>Please report this issue on <a href="{{ issue_url }}">GitLab</a></b>
							</div>
						{% endif %}

						{% if result_file %}
							<div class="card">
								<div class="card-body" id="resultFileCodeMirror"></div>
							</div>
						{% endif %}

					</div>
				{% endif %}
			{% endif %}
		</div>

		<!-- Scoreboard Column -->
		<div class="col-md-4">
			<div class="card">
				<div class="card-header">
					Top Scores (cycles)
				</div>
				<ul class="list-group list-group-flush scrollable-list">
					{% for userid, score, name, is_best in scores %}
						{% if score > 0 %}
							<li class="list-group-item {% if userid == session['user_id'] and is_best == 1 %}highlight-green{% elif userid == session['user_id'] and is_best == 0 %}highlight-yellow{% endif %}">
								<div class="row">
									<div class="col-sm-8">
										{% if name is not none and name in displaynames and displaynames[name] is not none %}
											{{displaynames[name]}} ({{ name }})
										{% else %}
											{{ name }}
										{% endif %}
									</div>
									<div class="col-sm-4 border-left">
										{{ score }}
										{% if session['user_id'] == userid or is_admin == 1 %}
											<a href="/view/{{ task.id }}/{{ userid }}/{% if is_best == 1 %}0{% elif is_best == 0 %}1{% endif %}">
												<img src="/static/view.svg" alt="View" width="24" height="24" style="margin-left: 25%;"/>
											</a>
										{% endif %}
										
										{% if is_admin == 1 %}
										<!-- Reevaluation -->
											<a href="/admin/reevaluate/{{ task.id }}/{{ userid }}/{% if is_best == 1 %}1{% elif is_best == 0 %}0{% endif %}">
												<img src="/static/reevaluate.svg" alt="Re-evaluate" width="18" height="18" style="margin-left: 25%;"/>
											</a>
										{% endif %}

									</div>
								</div>
							</li>
						{% endif %}
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>
{% endblock content %}

{% block cmirror %}
	{% if result is not none and result > -1 %}
<script>
	CodeMirror.defineMode("qtrvsimLog", function() {
		return {
		token: function(stream, state) {

			if (stream.match(/\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}/)) {
				//console.log(stream.current());
				return "time-string";
			}

			if (stream.match(/Arguments:.*$/)) {
				//console.log(stream.current());
				return "argument";
			}

			if (stream.match(/FAILED/)) {
				//console.log(stream.current());
				return "failed";
			}
			if (stream.match(/PASSED/)) {
				//console.log(stream.current());
				return "passed";
			}

			if (stream.match(/(register \w+|memory at 0x[0-9A-Fa-f]+)/)) {
				//console.log(stream.current());
				return "register-memory";
			}

			if (stream.match(/ \b\d+\b,/)) {
				//console.log(stream.current());
				return "expected-number-value";
			}
			
			if (stream.match(/ \b\d+\b$/)) {
				//console.log(stream.current());
				return "provided-number-value";
			}

			// Default token
			stream.next();
			return null;
		}
		};
	});
	
	CodeMirror.defineMIME("text/qtrvsimLog", "qtrvsimLog");
	</script>

	<script>
		let resultFileContent = {{ result_file|tojson }};
		let resultFileEditor = CodeMirror(document.getElementById("resultFileCodeMirror"), {
			lineNumbers: true,
			mode: "qtrvsimLog",
			lineWrapping: true,
			viewportMargin: Infinity,
			readOnly: true,
		});

		resultFileEditor.setSize("auto", "auto");
		resultFileEditor.setValue(resultFileContent);
	</script>
	{% endif %}
{% endblock %}

