{% extends "codemirror.html" %}

{% block title %}
	{{ task_name }}
{% endblock title %}

{% block content %}
	<style>
		.card-btn:hover {
			background-color: #f8f9fa;
		}
	</style>

	<h2>{{ best_or_latest }} for task: {{ task_name }}</h2>
	<div class="card">
		<div class="card-body">
			<div id="codeMirror"></div>
		</div>
	</div>
{% endblock content %}

{% block cmirror %}
	<script>
		let submissionContent = {{submission_code|tojson}};

		let editor = CodeMirror(document.getElementById("codeMirror"), {
			lineNumbers: true,
			mode: "gas",
			lineWrapping: true,
			viewportMargin: Infinity,
			value: submissionContent,
			readOnly: true
		});

		editor.setSize("auto", "auto");
	</script>
{% endblock %}